* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Muli, sans-serif;
}

p {
    color: #57667e;
    font-size: 16px;
}

nav {
    display: flex;
    padding: 23px 80px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    flex-wrap: wrap;
    background-color: #fff;
}

nav a {
    text-decoration: none;
}

nav label {
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
    display: none;
}

nav input {
    position: absolute;
    display: none;
}

nav .logo a {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color: black;
}

nav .logo a span {
    color: red;
    font-family: 'Fredoka One', cursive;
}

nav ul {
    list-style-type: none;
    display: flex;
    font-family: "Roboto", sans-serif;
    padding: 0;
}

nav ul a {
    color: black;
    margin: 0 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.3px;
    display: block;
    position: relative;
    transition: all 0.4s ease-in;
}

nav .main-menu li a:hover {
    color: #e53637;
}

nav .main-menu li a::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 52px;
    left: 0;
    right: 100%;
    transition: all 0.4s ease-in;
}

nav .main-menu li a:hover::before {
    background-color: #e53637;
    height: 3px;
    right: 0;
}

nav a.shop::after {
    content: "HOT";
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    transition: all .2s ease-out 0s;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    position: absolute;
    top: -21px;
    right: -27px;
    display: inline-block;
}

.icons-navBar span {
    font-size: 26px;
    margin: 0 -10px;
}

.icons-navBar span.shopping {
    position: relative;
}

.icons-navBar span.shopping::after {
    content: "02";
    font-family: "Roboto", sans-serif;
    position: absolute;
    width: 25px;
    height: 25px;
    background: red;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 12px;
    top: -14px;
    right: -20px;
    transition: all .2s ease-out 0s;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}

.subject {
    margin: 150px 0 60px;
}

.subject > div {
    text-align: center;
}

.subject > div h2 { 
    font-size: 45px;
    position: relative;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.subject > div h2::after {
    content: "";
    width: 30%;
    height: 3px;
    background-color: #e53637;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.subject > div h2:hover::after {
    width: 100%;
}

.intro .container,
.our-team .container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.intro .container > div {
    width: calc((100% - 120px) / 3);
    overflow: hidden;
    position: relative;
}

.intro .container > div img {
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    transition: all 0.3s;
}

.intro .container > div .image1_2 {
    transform: translateX(-100%);
    position: absolute;
}

.intro .container > div .image1_1:hover {
    transform: translateX(100%);
}

.intro .container > div .image1_1:hover + .image1_2{
    transform: translateX(0);
}

.intro .container h2 {
    font-size: 38px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.intro .container p {
    line-height: 1.7;
    color: #666666;
    font-weight: 400;
}

.our-team .container {
    margin-top: 80px;
}

.our-team .container > div.desc {
    width: calc(25% - 30px);
}

.our-team .container > div.the-team {
    width: calc(75% - 30px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.our-team .container > div.desc span {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
}

.our-team .container > div.desc h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.4;
}

.our-team .container > div.desc p {
    line-height: 1.7;
}


.our-team .container > div.the-team > div {
    width: calc((100% - 90px) / 3);
    margin-bottom: 30px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 5px;
    overflow: hidden;
    background: #1d2736;
}

.our-team .container > div.the-team > div .image {
    height: 280px;
    background-size: cover;
}

.the-team .emp-1 .image {
    background-image:url("https://preview.colorlib.com/theme/portech/images/xstaff-1.jpg.pagespeed.ic.e9rH06n9-0.webp");
}

.the-team .emp-2 .image {
    background-image:url("https://preview.colorlib.com/theme/portech/images/xstaff-2.jpg.pagespeed.ic.336NftRDi2.webp");
}

.the-team .emp-3 .image {
    background-image:url("https://preview.colorlib.com/theme/saita/images/xstaff-3.jpg.pagespeed.ic.uXRWIVCMLJ.webp");
}
.the-team .emp-4 .image {
    background-image:url("https://preview.colorlib.com/theme/saita/images/xstaff-8.jpg.pagespeed.ic.ap_T4XSUxQ.webp");
}

.the-team .emp-5 .image {
    background-image:url("https://preview.colorlib.com/theme/saita/images/xstaff-7.jpg.pagespeed.ic.8_Y2l9-Lhc.webp");
    background-position-x: 100%;
}

.the-team .emp-6 .image {
    background-image:url("https://preview.colorlib.com/theme/portech/images/xstaff-6.jpg.pagespeed.ic.M6neBKSRm6.webp");
}

.our-team .container > div.the-team > div .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s;
}

.our-team .container > div.the-team > div .info h3 {
    font-size: 18px;
    font-weight: 700;
    transition: all .3s ease;
    margin: 15px 0 5px;
    color: #fff;
}


.our-team .container > div.the-team > div .info span {
    color: #e53637;
    display: block;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.3px;
}

.our-team .container > div.the-team > div .info ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 25px;
}

.our-team .container > div.the-team > div .info ul li {
    width: 30px;
    height: 30px;
    background-color: #e53637;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.our-team .container > div.the-team > div .info ul a ,
.our-team .container > div.the-team > div .info ul li a i {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.our-team .container > div.the-team > div:hover .info {
    background-color: #fff;
}

.our-team .container > div.the-team > div:hover .info h3 {
    color: #1d2736;
}

.services {
    width: 1140px;
    margin: 0 auto ;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services > div {
    width: calc((100% - 120px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.services > div img {
    display: block;
    margin-bottom: 26px;
    transition: all 0.4s;
}

.services > div h5 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #111;
    font-weight: 600;
    transition: all 0.4s;
}

.services > div p {
    transition: all 0.4s;
}

.services > div:hover img {
    transform: scale(1.5) skew(5deg);
}

.services > div:hover h5 {
    color: #e53637;
}

.services > div:hover p {
    letter-spacing: 2px;
}

footer {
    margin-top: 80px;
    font-family: Muli, sans-serif;
    background-color: #1d2736;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    color: white;
}

footer .container > div {
    margin: 0 5px;
    margin-bottom: 50px;
}

footer .container .about {
    width: 330px;
}

footer .container .about h2,
footer .container .links h2,
footer .container .contact h2  {
    font-size: 32px;
    margin: 0;
    margin-bottom: 30px;
}

footer .container .about p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #898989;
}

footer .container .about > div a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #e53637;
    border-radius: 3px;
    margin-right: 6px;
}

footer .container .about > div a i {
    font-size: 15px;
    color: #fff;
}

footer .container .links > div {
    display: flex;
    flex-direction: column;
}

footer .container .links > div a {
    color: #898989;
    text-decoration: none;
    margin-bottom: 10px;
}

footer .container .links h3 {
    margin: 5px 0 15px;
}

footer .container .contact  .tocontact > div {
    display: flex;
    margin-bottom: 30px;
    color: #898989;
}

footer .container .contact .tocontact > div span {
    display: block;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

footer .container .contact  .tocontact  div p {
    line-height: 1.8;
    margin: 0;
}

footer .copy-right {
    padding: 20px;
    margin-top: -60px;
    padding-bottom:50px;
}

footer .copy-right > p {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.5;
}

footer .copy-right > p span {
    color: #898989;
}


@media screen and (max-width: 1140px) {
    nav {
        padding-left: 30px;
        padding-right: 30px;
    }

    nav ul a {
        margin: 0 15px;
    }
    
    .intro .container,
    .services,
    .our-team .container {
        width: 920px;
    }

    .intro .container h2 {
        font-size: 25px;
    }

    .services > div h5 {
        font-size: 18px;
    }

    .services > div p {
        font-size: 14px;
    }

    .intro .container p {
        font-size: 14px;
        line-height: 1.8;
    }

    .our-team .container {
        flex-direction: column;
        align-items: center;
    }

    .our-team .container > div.desc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .our-team .container > div.desc span {
        font-size: 15px;
    }

    .our-team .container > div.desc h2 {
        font-size: 48px;
    }
    .our-team .container > div.desc p {
        width: 585px;
        text-align: center;
    }

    .our-team .container > div.the-team {
        width: 100%;
    }

    .our-team .container > div.the-team  > div {
        width: calc((100% - 120px) / 3);
        margin-bottom: 40px;
    }

    footer .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 920px) {
    nav label {
        display: block;
        position: static;
    }

    nav .main-menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 76px;
        bottom: calc(100% - 76px);
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        background-color: #fff;
    }

    nav .main-menu ul {
        flex-direction: column;
        background-color: #fff;
        padding: 0 0 10px;
    }

    nav .main-menu ul li a {
        padding: 20px;
        font-size: 14px;
    }

    nav a.shop::after {
        content: "";
    }

    nav input:checked~.main-menu {
        bottom: calc(100% - 370px);
        box-shadow: 0 12px 12px 0px rgb(97 97 97 / 8%);
    }

    nav .main-menu li a::before {
        display: none;
    }
    
    .intro .container,
    .our-team .container {
        width: 100%;
    }

    .intro .container > div {
        width: calc((100% - 80px) / 2);
        margin-bottom: 30px;
    }

    .intro .container .desc {
        width:  calc(100% - 40px);
    }

    .services {
        width: 660px;
    }

    .services > div {
        width: calc((100% - 80px) / 2);
    }

    .services > div h5 {
        font-size: 20px;
    }

    .services > div p {
        font-size: 16px;
    }

    .our-team .container > div.the-team {
        width: 100%;
    }

    .our-team .container > div.the-team >  div {
        width: calc((100% - 80px) / 2);
    }
    
    .our-team .container > div.desc p {
        width: 500px;
    }

    footer .container {
        flex-direction: column;
        padding: 50px 20px
    }
}

@media screen and (max-width: 660px) {
    .intro .container > div {
        width: calc(100% - 40px);
    }

    .services {
        width: 100%;
    }

    .services > div {
        width: calc(100% - 40px);
    }

    .our-team .container > div.the-team >  div {
        width: calc(100% - 40px);
    }

    .our-team .container > div.desc span {
        font-size: 13px;
    }

    .our-team .container > div.desc h2 {
        font-size: 40px;
    }

    .our-team .container > div.desc p {
        width: calc(100% - 80px);
        font-size: 14px;
    }

}

@media screen and (max-width: 520px) {
    nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    nav .main-menu {
        top: 56px;
        bottom: calc(100% - 56px);
        transition: all 0.5s 0.1s ease-in-out;
    }
    
    nav input:checked~.main-menu {
        bottom: calc(100% - 372px);
    }

    nav .icons-navBar {
        position: fixed;
        left: 0;
        right: 0;
        top: 56px;
        bottom: calc(100% - 56px);
        overflow: hidden;
        transition: all 0.7s  ease-in-out;
        background-color: #fff;
    }

    nav input:checked~.icons-navBar {
        top: 368px;
        bottom: calc(100% - 420px);
        box-shadow: 0 12px 12px 0px rgb(97 97 97 / 8%);
    }

    .icons-navBar span.shopping::after {
        display: none;
    }

    nav .icons-navBar ul {
        padding: 4px 0 20px;
        margin: 0;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 330px) {
    footer .container .about,
    footer .container .links,
    footer .container .contact,
    footer .container .contact  .tocontact {
        width: 100%;
        overflow: scroll;
    }
}
