* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-size: 1rem;
    font-weight: 400;
}

nav {
    display: flex;
    padding: 23px 80px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    flex-wrap: wrap;
    background-color: #fff;
}

nav a {
    text-decoration: none;
}

nav label {
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
    display: none;
}

nav input {
    position: absolute;
    display: none;
}

nav .logo a {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color: black;
}

nav .logo a span {
    color: red;
    font-family: 'Fredoka One', cursive;
}

nav ul {
    list-style-type: none;
    display: flex;
    font-family: "Roboto", sans-serif;
    padding: 0;
}

nav ul a {
    color: black;
    margin: 0 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.3px;
    display: block;
    position: relative;
    transition: all 0.4s ease-in;
}

nav .main-menu li a:hover {
    color: #e53637;
}

nav .main-menu li a::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 52px;
    left: 0;
    right: 100%;
    transition: all 0.4s ease-in;
}

nav .main-menu li a:hover::before {
    background-color: #e53637;
    height: 3px;
    right: 0;
}

nav a.shop::after {
    content: "HOT";
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    transition: all .2s ease-out 0s;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    position: absolute;
    top: -21px;
    right: -27px;
    display: inline-block;
}

.icons-navBar span {
    font-size: 26px;
    margin: 0 -10px;
}

.icons-navBar span.shopping {
    position: relative;
}

.icons-navBar span.shopping::after {
    content: "02";
    font-family: "Roboto", sans-serif;
    position: absolute;
    width: 25px;
    height: 25px;
    background: red;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 12px;
    top: -14px;
    right: -20px;
    transition: all .2s ease-out 0s;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}

.subject {
    margin: 150px 0 60px;
}

.subject > div {
    text-align: center;
}

.subject > div h2 { 
    font-size: 45px;
    position: relative;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.subject > div h2::after {
    content: "";
    width: 30%;
    height: 3px;
    background-color: #e53637;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.subject > div h2:hover::after {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 1140px;
    margin: 0 auto 0;
}

.container .filteration {
    width: calc(25% - 30px);
    font-family: "Muli",sans-serif;
}

.container .filteration >  div {
    margin-bottom: 45px;
}

.title {
    color: #252525;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 26px;
}

.bc-item label,
.cc-item label {
    position: relative;
    cursor: pointer;
    padding-left: 28px;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 15px;
    letter-spacing: 2px;
}

.bc-item label input,
.cc-item input,
.sc-item input {
    position: absolute;
    visibility: hidden;
}

.bc-item label span {
    position: absolute;
    left: 0;
    top: 5px;
    height: 15px;
    width: 15px;
    border: 2px solid #ebebeb;
    border-radius: 2px;
    transition: all 0.3s;
}

.bc-item label span::after {
    content: "";
    left: -1px;
    top: 0;
    width: 10px;
    height: 5px;
    border: solid #fff;
    border-width: 3px 3px 0 0;
    transform: rotate(125deg);
    position: absolute;
    transition: all 0.3s;
    visibility: hidden;
}

.bc-item label input:checked+span {
    background-color: #e53637;
    border-color: #e53637;
}

.bc-item label input:checked+span::after {
    border-color: #fff;
    visibility: visible;
}

.cc-item {
    width: 50%;
    float: left;
    margin-bottom: 4px;
    position: relative;
}

.cc-item label::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 5px;
}

#black + label::before {
    background-color: black;
}

#violet + label::before {
    background-color: violet;
}

#blue + label::before {
    background-color: blue;
}

#yellow + label::before {
    background-color: yellow;
}

#red + label::before {
    background-color: red;
}

#green + label::before {
    background-color: green;
}

.clear {
    clear: both;
}

.sc-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}

.sc-item label {
    font-size: 16px;
    color: #252525;
    font-weight: 700;
    height: 40px;
    width: 47px;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s;
}

.sc-item input:checked + label {
    background-color: black;
    color: #fff;
}

.container .filteration .categories ul {
    list-style-type: none;
}

.container .filteration .categories ul li a {
    display: inline-block;
    color: #636363;
    font-size: 16px;
    line-height: 39px;
}


.container .collection {
    width: calc(75% - 30px);
    line-height: 1.5;
}

.container .collection .prds {
    display: flex;
    flex-wrap: wrap;
}

.container .collection .prds > div {
    width: calc((100% - 90px) / 3);
    margin: 0 15px 30px;
}

.product {
    position: relative;
}

.product img {
    display: block;
    width: 100%;
    margin-bottom: 25px;
}

.desc h6 {
    color: #111111;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.desc h5 {
    color: #0d0d0d;
    font-weight: 700;
    font-size: 18px;
}

.desc .rating {
    margin-bottom: 6px;
}

.desc .rating i {
    font-size: 14px;
    color: #b7b7b7;
    margin-right: -5px;
}

#str {
    color: #ff4624;
}

.icons {
    transition: all .3s ease-out 0s;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    bottom: 20px;
    text-align: center;
}

.icons a {
    display: inline-block;
}

.icons span {
    transition: all 0.3s;
    background: #fff;
    color: #292621;
    width: 64px;
    height: 50px;
    display: inline-block;
    font-size: 27px;
    text-align: center;
    line-height: 54px;
    margin: -3px;
}

.product:hover .icons {
    opacity: 1;
}

.icons span:hover {
    background-color: #e53637;
    color: #fff;
}

.gallery-sections {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px; 
}

.gallery-sections ul {
    margin: 0 auto;
    list-style-type: none;
    display: flex;
}

.gallery-sections label {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    color: #e53637;
    font-family: "Muli",sans-serif;
    font-size: 15px;
    margin: 0 2.5px;
    transition: all 0.4s;
}

.gallery-sections .pre span,
.gallery-sections .post span {
    line-height: 32px;
    font-size: 28px;
    text-align: center;
}

.gallery-sections input:checked + label {
    background-color: #e53637;
    color: #fff;
    border-color: #e53637;
}

.gallery-sections input {
    display: none;
}

footer {

    margin-top: 80px;
    font-family: Muli, sans-serif;
    background-color: #1d2736;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    color: white;
    width: auto;
    margin: 0;
}

footer .container > div {
    margin: 0 5px;
    margin-bottom: 50px;
}

footer .container .about {
    width: 330px;
}

footer .container .about h2,
footer .container .links h2,
footer .container .contact h2  {
    font-size: 32px;
    margin: 0;
    margin-bottom: 30px;
}

footer .container .about p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #898989;
}

footer .container .about > div a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #e53637;
    border-radius: 3px;
    margin-right: 6px;
}

footer .container .about > div a i {
    font-size: 15px;
    color: #fff;
}

footer .container .links > div {
    display: flex;
    flex-direction: column;
}

footer .container .links > div a {
    color: #898989;
    text-decoration: none;
    margin-bottom: 10px;
}

footer .container .links h3 {
    margin: 5px 0 15px;
}

footer .container .contact  .tocontact > div {
    display: flex;
    margin-bottom: 30px;
    color: #898989;
}

footer .container .contact .tocontact > div span {
    display: block;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

footer .container .contact  .tocontact  div p {
    line-height: 1.8;
    margin: 0;
}

footer .copy-right {
    padding: 20px;
    margin-top: -60px;
    padding-bottom:50px;
}

footer .copy-right > p {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.5;
}

footer .copy-right > p span {
    color: #898989;
}

@media screen and (max-width: 1140px){
    nav {
        padding-left: 30px;
        padding-right: 30px;
    }

    nav ul a {
        margin: 0 15px;
    }
    .container {
        width: 920px;
    }

    footer .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 920px){
    nav label {
        display: block;
        position: static;
    }

    nav .main-menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 76px;
        bottom: calc(100% - 76px);
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        background-color: #fff;
    }

    nav .main-menu ul {
        flex-direction: column;
        background-color: #fff;
        padding: 0 0 10px;
    }

    nav .main-menu ul li a {
        padding: 20px;
        font-size: 14px;
    }

    nav a.shop::after {
        content: "";
    }

    nav input:checked~.main-menu {
        bottom: calc(100% - 370px);
        box-shadow: 0 12px 12px 0px rgb(97 97 97 / 8%);
    }

    nav .main-menu li a::before {
        display: none;
    }

    .container {
        width: calc(100% - 15px);
    }

    .container .filteration {
        width: calc(30% - 30px);
        margin-left: 15px;
    }

    .container .collection {
        width: calc(70%);
    }

    .container .collection .prds > div {
        width: calc((100% - 60px) / 2);
    }

    footer .container {
        flex-direction: column;
        padding: 50px 20px
    }
}

@media screen and (max-width: 660px) {
    .container {
        width: 100%;
        padding: 20px;
        flex-direction: column-reverse;
    }

    .container .filteration,
    .container .collection {
        width: 100%;
    }

    .container .collection .prds > div {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    nav .main-menu {
        top: 56px;
        bottom: calc(100% - 56px);
        transition: all 0.5s 0.1s ease-in-out;
    }
    
    nav input:checked~.main-menu {
        bottom: calc(100% - 372px);
    }

    nav .icons-navBar {
        position: fixed;
        left: 0;
        right: 0;
        top: 56px;
        bottom: calc(100% - 56px);
        overflow: hidden;
        transition: all 0.7s  ease-in-out;
        background-color: #fff;
    }

    nav input:checked~.icons-navBar {
        top: 368px;
        bottom: calc(100% - 420px);
        box-shadow: 0 12px 12px 0px rgb(97 97 97 / 8%);
    }

    .icons-navBar span.shopping::after {
        display: none;
    }

    nav .icons-navBar ul {
        padding: 4px 0 20px;
        margin: 0;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 330px) {
    footer .container .about,
    footer .container .links,
    footer .container .contact,
    footer .container .contact  .tocontact {
        width: 100%;
        overflow: scroll;
    }
}